# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Database URL for Prisma
DATABASE_URL=

# NestJS Configuration
NODE_ENV=development
PORT=3001

# API Configuration
FRONTEND_URL=http://localhost:3000

# JWT Configuration
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
